beautifulsoup4
bokeh
bottleneck
cartopy
cython
dill
folium
geopandas
ipyleaflet
ipywidgets
jupyterlab
mapclassify
networkx
nodejs
numexpr
numpy
osmnx
pillow
pip
psycopg2
pyproj == 1.9.6
pysal
python == 3.*
scikit-learn
scipy
seaborn
statsmodels
xlrd
xlwt
